.navigation {
  /* z-index: 2;
  /* margin-left: 3%; */
  /* padding: 0 !important; */
}
.navbar-brand {
}

.sidebar {
  padding-top: 3%;
  /* position: fixed; */
  flex: 1;
  height: 100%;
  width: 3%;
  top: 0rem;
  background-color: rgba(0, 60, 113, 255);
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
h2 {
  margin-left: 3%;
  background-color: lightblue;
}

/* .container {
  margin-top: 10% !important;
  width: 50%;
} */
.area {
  fill: url(#areaGradient);
}

.data-circle {
  stroke-width: 4;
  stroke: white;
  fill: #0071c5;
}
.line {
  fill: none;
  stroke: blue;
  stroke-width: 5;
}
.text {
  fill: black;
  text-anchor: middle;
  font-size: 1;
  font-family: sans-serif;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.col-gauge {
  display: inline-block !important;
  float: left !important;
  margin: 3% 0 1% 0;
  /* width: 33%; */
}

.col-gauge:focus {
  background-color: red;
}

.quality {
  margin-right: 4%;
}
ul {
  list-style-type: square;
}

ul li:first-child::marker {
  color: blue;
  font-size: 1.5em;
}

ul li:last-child::marker {
  color: grey;
  font-size: 1.5em;
}
.row-one {
  margin-bottom: 2%;
}

.legend {
  width: fit-content;
  padding: 2% 6% 0 0;

  border: 1px solid grey;
  border-radius: 10px;
}

.diagnostic-row {
  background-color: grey;
  padding: 5px;
  vertical-align: middle;
  /* margin: 0 !important; */
}
.pin {
  float: right;
  vertical-align: middle;
}
.globe {
  margin-right: 5px;
}

/* #root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  text-align: center;
  box-sizing: border-box;
} */
